{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
	<h2>Loterias: resultados</h2>
    <p>Protótipo de API baseada em Flask, para consultar resultados da Quina e da Mega-Sena por número ou data de concurso, exibindo resultados no formato JSON.</p>
    
    <p>Atualizado em 30/12/2020</p>
    <br>
	<h3>Exemplos de consultas</h3>
	
    <h4>Todos os resultados:</h4>
	<p>/api/v1/ver/quina/todos</p>
    <p>/api/v1/ver/sena/todos</p>

   	<p>Basta copiar e colar estes exemplos na parte final do endereço no navegador, veja abaixo.</p>

    <h4>Resultados por concurso:</h4>
	<p>/api/v1/ver/(sena/quina)?concurso=(número do concurso)</p>
	
    <p>Exemplos:</p>
	<p>/api/v1/ver/quina?concurso=5278</p>
    <p>/api/v1/ver/sena?concurso=2262</p>
	
    <h4>Resultados por data:</h4>
	<p>/api/v1/ver/(sena/quina)?data=(dada do concurso)</p>
	
    <p>Exemplos:</p>
	<p>/api/v1/ver/quina?data=25/05/2020</p>
    <p>/api/v1/ver/sena?data=16/05/2020</p>

  </div>
  {% endblock %}


