{% extends "layout.html" %}
{% block content %}
    <div class="jumbo">

	    <h2>Sobre...</h2>
	    <p>Estudo iniciado com a ajuda dos tutoriais:<p>
	    <ul>
		    <li><a href="https://programminghistorian.org/en/lessons/creating-apis-with-python-and-flask" target="_blank">Creating Web APIs with Python and Flask</a></li>
		    <li><a href="https://code.tutsplus.com/pt/tutorials/an-introduction-to-pythons-flask-framework--net-28822" target="_blank">Uma introdução à Python Flask Framework</a></li>
        </ul>
    </div>
{% endblock %}
